/*
CSS code for test.html
*/

h1
{
	font-size:36px;
	font-family:"Arial Black";
	color: white;
	text-align:center;
}

h2
{
	font-size:24px;
	font-family:"Arial Black";
	color: grey;
	text-align:center;
}


p
{
	font-size:14px;
	font-family:"Arial";
    color: white;
    text-align:justify;

}

em
{
	font-size: 14px;
	font-family: "Impact";
	font-style:italic;
	font-weight: bold;
	text-decoration: none;
	color:white;
}

strong
{
	font-size: 14px;
	font-family: "Impact";
	font-style:normal;
	font-weight: bold;
	text-decoration: none;
	color:teal;
}

mark
{
	font-size: 14px;
	font-family: "Impact";
	font-style:normal;
	font-weight: normal;
	text-decoration: underline;
	color:black;
}

ul
{
	font-size:14px;
	color: white;
	text-align:justify;
}

ol
{
	font-size:14px;
	color: navy;
	text-align:justify;
}

figure
{
	text-align:center;
}

body
{
	background-image: url("Images/black_hole.jpeg");
	background-attachment:fixed;
	background-repeat:no-repeat;
}

a
{
	color:grey;
}